@import "tailwindcss";

@theme {
   --color-icon: #131313;
   --color-text: #333333;
   --color-primary: #44cf2f;
   --color-secondary: #ffcf2f;
   --color-box: #f9f9f9;
   --color-background: #fafafa;
   --font-yekan : "YekanBakh", sans-serif;
}

@layer base {
   h2 {
      @apply text-[23px] font-bold
   }
}

@layer utilities {
   .ltr {
     direction: rtl;
   }
 }

.custom-container {
   max-width: 1300px;
   width: 90vw;
   margin: 0 auto;
   height: auto;
}

@font-face {
   font-family: "YekanBakh";
   src: url("/Font/YekanBakh-VF.woff2") format("woff2-variations"),
      /* will be the standard and works in Safari now */
         url("/Font/YekanBakh-VF.woff2") format("woff2"); /* for the other supporting browsers */
   font-weight: 100 1000;
   font-display: fallback;
}
